#form-input {
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#form-input > div {
  width: 200px;
}

.form-control-label {
  margin-top: 20px;
}

.form-control-label > span {
    font-family: monospace;
}

@media screen and (max-width: 1080px) {
  #form-input {
    flex-direction: column;
  }

  #form-input > div {
    margin-top: 20px;

    width: 300px;
  }
}

@media screen and (min-width: 1080px) {
  #form-input {
    flex-direction: row;
  }

  #form-input > div {
    margin-right: 10px;
  }
}