#form-input {
  margin-bottom: 20px;
}

#form-input > div {
  display: inline-block;
  margin-right: 10px;
}

.input-field {
  font-size: 18px;
  text-align: center;
  border-style: none;
  border-bottom: 1px solid white;
  border-bottom-color: white;
  color: white;
  background: transparent;
  display: block;
  height: 30px;
  width: 150px;
}

.input-label {
  font-size: 18px;
}

@media screen and (max-width: 660px) {
  #form-input > div {
    display: block;
    margin-bottom: 8px;
  }

  .input-field {
    width: 100px;
    height: 25px;
  }

  .container-label {
    width: 100px;
    text-align: center;
  }
}

@media screen and (min-width: 660px) {
  .container-label {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}