table {
  border-collapse: collapse;
  border-radius: 10px;

  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  font-family: monospace, Arial, Helvetica, sans-serif;
  text-align: center;

  overflow: hidden;

}

table td,
table th {
  padding: 8px;
}

table td {
  padding: 8px;
}

table tr:hover {
  background-color: #262626;
  color: white;
}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  color: #34495e;
}

.responsive-title {
  width: 400px;
}

@media screen and (max-width: 660px) {
  .responsive-title {
    display: none;
  }
}
